<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"</script>
    <link
        href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|animation	font-effect-fire-animation"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="../../public/assets/js/script"></script>
    <title>Eat The Hamburger</title>
</head>

<body>


    <h1>>EAT_THE_HAMBURGER.</h1>
    {{{body}}}

</body>

</html>